language: python

python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"

#virtualenv:
#  system_site_packages: true

cache:
  - apt
  - pip

addons:
  apt:
    packages:
#      - python-numpy
#      - python-scipy
      - libatlas-dev
      - libatlas-base-dev
      - liblapack-dev
      - gfortran

before_install:
  - pip install -v numpy
  - pip install -v scipy
  - pip install Cython

install:
  - python setup.py install

script:
  - cd tests && python test.py
